# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# CNS Data
data/targets.db
data/*.json
data/live_logs.txt
data/output_mds/
data/input_pdfs/
data/deployments/
data/*.tmp
pdf2md/failed_pdfs
pdf2md/submitted_pdfs

# System
.vscode/
.idea/

# node.js
node_modules/
package-lock.json